<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="logging" type="log4net.Config.Log4NetConfigurationSectionHandler, logging" />
  </configSections>
  
  <appSettings>
    <add key="BaseUrl.Management" value="http://0.0.0.0:9000"/>
    <add key="BaseUrl.CustomerService" value="http://0.0.0.0:9001"/>
  </appSettings>
 
  <logging>
    
  </logging>
</configuration>