<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, nlog"/>
    <section name="microserviceConfiguration" type="Microservice.Management.Configuration.ServiceConfigurationHandler, 
             Microservice.Management" allowDefinition="Everywhere"/>
  </configSections>
  
  <appSettings>
    <add key="BaseUrl.Management" value="http://0.0.0.0:9000"/>
  </appSettings>
  
  <microserviceConfiguration>
    <services>
    <add 
       name="CustomerService"
       startupType="Microservice.CustomerManagement.Service.CustomerServiceStartup" 
       baseUrl="http://0.0.0.0:9001"
       connectionString="some connection string for db connection"/>
    
    <!--Add further microservices in this section.-->
  
  </services>
  </microserviceConfiguration>    
 
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="c:\temp\prjectmmanagement.log" />
      <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="logconsole" />
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
</configuration>